.calendar-title {
  height: 6vh;
  width: 100vw;
  font-weight: bold;
  font-size: 25px;
}

.font-weight-bold {
  font-weight: bold;
}

.facility-info {
  margin: 5px;
}

.facility-phone {
  display: flex;
  margin-bottom: 3px;
}

.reservation-price {
  display: flex;
  margin-bottom: 3px;
}


.other-area {
  width: 100vw;
  margin: 5px;
}

.other-area-title {
  font-weight: bold;
}

.other-area-url {
  color: royalblue;
  margin: 10px;
}

.move-reservation-btn-content {
  height: 5vh;
  width: 100vw;
  text-align: center;
  margin-top: 3vh;
}

.move-reservation-btn {
  text-decoration: none;
  color: #202020;
  font-size: 25px;
  font-weight: bold;
}

.move-reservation-btn:hover {
  border-bottom: 5px solid #ff6347;
}
