* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
}

.header-bar {
  background-color: #f8f8f8;
  width: 100vw;
  height: 5vh;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: space-between;
}

.header-bar-left {
  width: 100px;
  height: 100%;
}

.logo {
  padding-top: 8px;
  padding-left: 5px;
  color: #ff6347;
  font-weight: bold;
  font-size: 3vh;
}

.header-bar-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-name {
  padding: 15px;
}

.user-status {
  padding: 15px;
}

.current-user-name {
  color: #202020;
  font-weight: bold;
}

.user-session {
  color: #4169e1;
  font-weight: bold;
}

/*メニューバー*/
.nav {
  width: 100vw;
  height: 6vh;
  background-color: #f8f8f8;
}

nav ul {
  height: 100%;
  display: table;
  margin: 0 auto;
  padding-top: 15px;
  width: 80%;
  text-align: center;
}

nav li {
  display: table-cell;
  min-width: 50px;
}

nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #202020;
  padding-bottom: 5px;
}

nav li.current {
  border-bottom: 3px solid #92D050;
}

nav li:hover {
  border-bottom: 3px solid #191970;
}

.team-select {
  position: relative;
}

.hidden-lists {
  display: none;
  width: 27vw;
  position: absolute;
  z-index: 1;
  right: 7vw;
}

.hidden-list {
  color: #f8f8f8;
  background-color: #696969;
  width: 100%;
  height: 3vh;
  border-top: solid 1px #f8f8f8;
  border-radius: 10px;
}

.hidden-list>a {
  color: #f8f8f8;
  padding: 15px;
}
