<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-bar'>
    <div class='header-bar-left'>
      <div class='logo'>
        ShareG
      </div>
    </div>
    <div class='header-bar-right'>
      <div class='user-name'>
        アカウント名/新規登録
      </div>
      <div class='user-status'>
        ログイン/ログアウト
      </div>
    </div>
  </div>
  <div class='nav'>
    <nav>
      <ul>
        <li class=”current”><a href=”#”>TOP</a></li>
        <li><a href=”#”>施設を探す</a></li>
        <li><a href=”#”>チーム作成</a></li>
        <li><a href=”#”>チームページ</a></li>
      </ul>
    </nav>
  </div>
</header>